<div>
    <form class="search" [formGroup]="loginForm" (ngSubmit)="getCity()">
        <div class="searchInput"><input type="text" formControlName="name" placeholder="Сity"></div>
        <button type="submit" class="searchImg"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                viewBox="0 0 21 21">
                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    color="white">
                    <circle cx="8.5" cy="8.5" r="5" />
                    <path d="M17.571 17.5L12 12" />
                </g>
            </svg>
        </button>
    </form>
    <div class="notFound" *ngIf="loadedCity?.length == 0">
        City not found
    </div>
    <div *ngFor="let city of loadedCity" class="searchBlock" (click)="getWeatheByCoordinates(city)">
        <div class="searchBlockTitle">
            {{cityName}}
        </div>
        <div class="searchBlockDiscription">
            <div class="searchBlockDiscriptionTop">
                Сountry:
            </div>
            <div class="searchBlockDiscriptionBotom">
                {{city.country}}
            </div>
        </div>
        <div class="searchBlockDiscription" *ngIf='city.state'>
            <div class="searchBlockDiscriptionTop">
                state:
            </div>
            <div class="searchBlockDiscriptionBotom">
                {{city.state}}
            </div>
        </div>
    </div>
</div>
<div class="switch">
    <div class="switchText">
        <img src="../../../../assets/weather/OpenWeatherMap.png" alt="">
    </div>
    <label class="checkboxStyle">
        <input type="checkbox" (change)="switchAPI($event)">
        <span class="checkboxStyleSwitch"></span>
    </label>
    <div class="switchText">
        <img src="../../../../assets/weather/VisualCrossing.png" alt="">
    </div>
</div>