<div class="weatherContainer">
    <div class="weatherContainerTemp">
        <div class="weatherContainerTempText">
            <p>{{weather.temp}} C</p>
        </div>
        <div class="weatherContainerTempImg">
            <img *ngIf="weather.main === 'Snow'" src="../../../../assets/weather icons/(snow)snow rain.svg" alt="Snow">
            <img *ngIf="weather.main === 'Clouds' " src="../../../../assets/weather icons/(cloud)few clouds.svg"
                alt="Clouds">
            <img *ngIf="weather.main === 'Clear' " src="../../../../assets/weather icons/(clear)clear sky.svg"
                alt="Clear">
            <img *ngIf="weather.main === 'Rain'" src="../../../../assets/weather icons/rain.svg" alt="Rain">
            <img *ngIf="weather.main === 'Mist'" src="../../../../assets/weather icons/mist.svg" alt="Mist">
            <img *ngIf="weather.main === 'Overcast'" src="../../../../assets/weather icons/(cloud)few clouds.svg"
                alt="Overcast">
            <img *ngIf="weather.main === 'Partially cloudy'"
                src="../../../../assets/weather icons/(cloud)few clouds.svg" alt="Partially cloudy">
        </div>
        <div class="weatherContainerTempTime">
            <div class="weatherContainerTempPoint">
                <div class="weatherContainerTempPointImg">
                    <img src="../../../../assets/weather icons/map-marker.svg" alt="">
                </div>
                <div class="weatherContainerTempPointText">
                    {{cityName}}
                </div>
            </div>
            <div class="weatherContainerTempDate">
                <div class="weatherContainerTempDateImg">
                    <img src="../../../../assets/weather icons/calendar-month.svg" alt="">
                </div>
                <div class="weatherContainerTempDateText">
                    {{now}}
                </div>
            </div>
        </div>
    </div>
    <div class="weatherContainerDiscription">
        <div class="weatherContainerDiscriptionBlock">
            <div class="weatherContainerDiscriptionBlockImg">
                <img src="../../../../assets/weather icons/speed.svg" alt="">
            </div>
            <div class="weatherContainerDiscriptionBlockText">
                <div class="weatherContainerDiscriptionBlockTextTitle">
                    Wind speed
                </div>
                <div class="weatherContainerDiscriptionBlockParam">
                    {{weather.speed}} m/s
                </div>
            </div>
        </div>
        <div class="weatherContainerDiscriptionBlock">
            <div class="weatherContainerDiscriptionBlockImg">
                <img src="../../../../assets/weather icons/humidity.svg" alt="">
            </div>
            <div class="weatherContainerDiscriptionBlockText">
                <div class="weatherContainerDiscriptionBlockTextTitle">
                    Humidity
                </div>
                <div class="weatherContainerDiscriptionBlockParam">
                    {{weather.humidity}} %
                </div>
            </div>
        </div>
    </div>
</div>