<div class="weatherContainer">
    <div class="weatherContainerTemp">
        <div class="weatherContainerTempText">
            <p>{{weather.temp}} C</p>
        </div>
        <div class="weatherContainerTempImg">
            <img src="../../../../assets/weather icons/{{weather.main}}.svg" alt="weather-ico">
        </div>
        <div class="weatherContainerTempTime">
            <div class="weatherContainerTempPoint">
                <div class="weatherContainerTempPointImg">
                    <img src="../../../../assets/weather icons/map-marker.svg" alt="">
                </div>
                <div class="weatherContainerTempPointText">
                    {{cityName}}
                </div>
            </div>
            <div class="weatherContainerTempDate">
                <div class="weatherContainerTempDateImg">
                    <img src="../../../../assets/weather icons/calendar-month.svg" alt="">
                </div>
                <div class="weatherContainerTempDateText">
                    {{now}}
                </div>
            </div>
        </div>
    </div>
    <div class="weatherContainerDiscription">
        <div class="weatherContainerDiscriptionBlock">
            <div class="weatherContainerDiscriptionBlockImg">
                <img src="../../../../assets/weather icons/speed.svg" alt="">
            </div>
            <div class="weatherContainerDiscriptionBlockText">
                <div class="weatherContainerDiscriptionBlockTextTitle">
                    Wind speed
                </div>
                <div class="weatherContainerDiscriptionBlockParam">
                    {{weather.speed}} m/s
                </div>
            </div>
        </div>
        <div class="weatherContainerDiscriptionBlock">
            <div class="weatherContainerDiscriptionBlockImg">
                <img src="../../../../assets/weather icons/humidity.svg" alt="">
            </div>
            <div class="weatherContainerDiscriptionBlockText">
                <div class="weatherContainerDiscriptionBlockTextTitle">
                    Humidity
                </div>
                <div class="weatherContainerDiscriptionBlockParam">
                    {{weather.humidity}} %
                </div>
            </div>
        </div>
    </div>
</div>